@model Kurs

<form asp-controller ="Kurs" asp-action="Edit" method="post">
    <input type="hidden" asp-for="KursId">
    <div class="mb-3">
        <label asp-for="Baslik"  class ="form-label">Kurs Adı</label>
        <input asp-for="Baslik" class="form-control">
    </div>
    

    <button type="submit" class="btn btn-primary">Degiştir</button>

</form>